.login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  .form {
    @include paddingHorizontal(spacing(6));
    @include paddingVertical(spacing(10));
    background-color: var(--primary);
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;
  }
}
